@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer:ital@0;1&display=swap');
*{
    font-family: IM FELL Great Primer;
}

.hola {
    display: flex;
    flex-direction: column;
    align-items: center;
    div ~ div{
        margin-top: -3.7vw;
    }
}

.div--div {
    margin-top: 1vw;
    width: 85%;
    
}

.div--div>img {
    max-width: 100%;
    height: auto;
}

.div--div>div {
    margin-top: 1vw;
    padding-left: 2.2vw;
    display: flex;
    align-items: center;
    gap: 2.9vw;
    font-size: 3vw;
    h2{
        margin-top: -0.5vw;
    }
    img {
        --media: 7vw;
        height: var(--media);
        width: var(--media);
    }
    
}
