
.producto__div{
    background-image: url("/src/assets/marcoCafe.svg");
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 353.47px;
    position: relative;
}

.producto__div-img{
    height: 20vh;
}

.producto__div-imgDivs{
    width: 8rem;
}
.producto__div-btn{
    cursor: pointer;
    all: unset;
    position: absolute;
    transform: translateY(-50%);
    bottom: 2vh; 
}
.producto__div-btn img{
    cursor: pointer;
    height: 29.67px;
}
.producto__div-h3{
    color: rgba(193, 167, 140, 1);
    font-family: "DM Serif Display", serif;
    font-weight: 500;
    font-size: 2.5vh;
}
.producto__div-p{
    font-size: 2.7vh;
    color: rgba(189, 140, 70, 1);
    font-family: "Inter", sans-serif;
    font-weight: 300;
}