.listado{
    height: 100vh;
    background-image: url("/src/assets/marcoListado.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding-top: 0%;
    margin: -6rem 5rem;
}
.listado_div{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-top: 5rem;
    margin:0rem 5rem 0rem;
}