.listado{
    height: 1955px;
    background-image: url("/src/assets/marcoListado.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    padding: 0rem 2rem;
    margin: 0rem 5rem;
    display: flex;
    flex-direction: column;

}
.listado_div{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-top: 4rem;
}

@media (max-width: 768px) {
    .listado{
        height: 900px;
        
        background-image: url("/src/assets/marcoListado-responsive.svg");
        background-size: 100% 100%;
        padding: 0rem 1rem;
        margin: 0rem 2rem;

    background-size: cover;
    }
    .listado_div{
        grid-template-columns: repeat(2, 1fr);
        padding-top: 0rem;
    }
}