/* 💻 COMPUTADORA - diseño principal */
.listado {

    background-image: url("/src/assets/FondoListado2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    padding: 0 2rem;
    margin: 0 5rem;
    display: flex;
    flex-direction: column;
    min-height: 10vw;
    margin-bottom: 1vw;
}

.listado_div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-top: 5rem;
}

.listado_div-relacionados {
    padding-top: 0;
}

.listado_texto p {
    position: absolute;
    top: 12vh;
    left: 5vw;
    font-size: 25px;
    margin: 0;
    padding: 0;
    display: flex;
}

.listado_div-relacionados--deco {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2vw;
    margin: 0;
    padding: 0;
    justify-content: center;

    img{
        max-width: 35%;
    }
}

.listado_div-relacionados--deco p {
    color: #BF8829;
    font-size: 1.5rem;
}

.listado_div-relacionados--list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-top: 0;
}




/* 💻 Computadoras medianas */
@media (min-width: 1024px) and (max-width: 1439px) {
    .listado {
        padding: 0 1rem;
        margin: 0 0.5rem;
    }

    .listado_div {
        grid-template-columns: repeat(5, 1fr);
    }
}



/* 📱 Tablets pequeñas */
@media (min-width: 767px) and (max-width: 849px) {

    .listado {

        padding: 0 0.5rem;
        margin: 0 0.5rem;
    }

    .listado_div {
        grid-template-columns: repeat(3, 1fr);
        padding-top: 3rem;
    }
}


/* 📱 Tablets grandes */
@media (min-width: 850px) and (max-width: 1023px) {

    .listado {

        padding: 0 1rem;
        margin: 0 0.5rem;
    }

    .listado_div {
        grid-template-columns: repeat(3, 1fr);
        padding-top: 3rem;
    }
}

/* 📱 Celulares */
@media (min-width: 480px) and (max-width: 767px) {
    .listado {

        background-image: url("/src/assets/marcoListado-responsive.png");
        padding: 0 0.5rem;
        margin: 0 0.5rem;
    }

    .listado_div {
        grid-template-columns: repeat(3, 1fr);
        padding-top: 0.5rem;
    }
}


/* 📱 Celulares pequeños */
@media (max-width: 479px) {
    .listado {

        background-image: url("/src/assets/marcoListado-responsive.png");
        padding: 0 0.5rem;
        margin: 0 0.5rem;
    }

    .listado_div {
        grid-template-columns: repeat(2, 1fr);
        padding-top: 0.5rem;
        padding-bottom: 3rem;
    }

}