/* 💻 COMPUTADORA - diseño principal */
.listado {

    background-image: url("/src/assets/FondoListado2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    padding: 0 2rem;
    margin: 0 5rem;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin-bottom: 1vw;
}

.listado_div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-top: 6.5vw;
}

.listado_div-relacionados {
    padding-top: 0;
}

.listado_texto p {
    position: absolute;
    top: 5vw;
    left: 5vw;
    font-size: 2vw;
    margin: 0;
    padding: 0;
    display: flex;
}

.listado_div-relacionados--deco {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2vw;
    margin: 0;
    padding: 0;
    justify-content: center;

    img {
        max-width: 35%;
    }
}

.listado_div-relacionados--deco p {
    color: #BF8829;
    font-size: 1.5rem;
}

.listado_div-relacionados--list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-top: 0;
}

.listado_cargando {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.listado_cargando p {
    font-family: "Inria Serif", serif;
    font-size: 18px;
}




/* 💻 Computadoras medianas */
@media (min-width: 1024px) and (max-width: 1439px) {
    .listado {
        padding: 0 1rem;
        margin: 0 0.5rem;
    }

    .listado_div,
    .listado_div-relacionados--list {
        grid-template-columns: repeat(5, 1fr);
    }

}



/* 📱 Tablets pequeñas */
@media (min-width: 767px) and (max-width: 849px) {

    .listado {
        padding: 0 0.5rem;
        margin: 0 0.5rem;
    }

    .listado_div,
    .listado_div-relacionados--list {
        grid-template-columns: repeat(3, 1fr);
        padding-top: 3rem;
    }
    .producto__div{
        scale: 0.9;
    }
}


/* 📱 Tablets grandes */
@media (min-width: 800px) and (max-width: 1023px) {

    .listado {

        padding: 0 1rem;
        margin: 0 0.5rem;
    }

    .listado_div,
    .listado_div-relacionados--list {
        grid-template-columns: repeat(3, 1fr);
        padding-top: 3rem;
    }
}

/* 📱 Celulares */
@media (min-width: 480px) and (max-width: 767px) {
    .listado {

        background-image: url("/src/assets/marcoListado-responsive.png");
        padding: 0 0.5rem;
        margin: 0 0.5rem;
    }

    .listado_div,
    .listado_div-relacionados--list {
        grid-template-columns: repeat(3, 1fr);
        padding-top: 0.5rem;
    }

    .listado_texto p {
        font-size: 0.6vw;
    }
    .producto__div{
        scale: 0.7;
    }
}


/* 📱 Celulares pequeños */
@media (max-width: 479px) {
    .listado {
        background-image: url("/src/assets/marcoListado-responsive.png");
        padding: 0 0.5rem;
        margin: 0 0.5rem;
    }

    .listado_div,
    .listado_div-relacionados--list {
        grid-template-columns: repeat(2, 1fr);
        padding-top: 1rem;
        padding-bottom: 3rem;
    }

    .listado_texto p {
        margin-top: 2vw;
        font-size: 3vw;
        top: 12vw;
        left: 10vw;
    }

    .listado_div-relacionados--deco {
        width: 70vw;
        gap: 1.5vw;
    }

    .listado_div-relacionados--deco p {
        font-size: 4vw;
    }

}