@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(9,13,12);
}

/* Cuando el modal esté abierto */
body.modal-abierto{
    overflow: hidden;
}

.catalogo{
    position: relative;
    min-height: 100vh;
}

/* ========================= */
/* Fondo oscuro */
/* ========================= */

.overlay{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.65);

    opacity: 0;
    visibility: hidden;

    transition: opacity .3s ease, visibility .3s ease;

    z-index: 9998;
}

/* ========================= */
/* Modal */
/* ========================= */

.producto-especifico{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.9);
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
    z-index: 9999;
    max-width: 90vw;
}
/* ========================= */
/* Modal abierto */
/* ========================= */

.catalogo.modal-abierto .overlay{
    opacity: 1;
    visibility: visible;
}

.catalogo.modal-abierto .producto-especifico{
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}
