@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Gabarito:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&family=Seaweed+Script&display=swap');

.Footer {
    flex: 1;
    /*height: 380px;*/
    height: 24.7vw;
    background-image: url(../../assets/Frame1.svg);
    background-position: -1px -3.1vw;
    background-size: 100% 124%;
}

.Footer__encima {
    width: 100%;
    height: 100%;
    /* background: #B17D63; */
    background-image: url(../../assets/BordeFooter.svg);
    background-size: 100% 101%;
    background-repeat: no-repeat;
    background-position: -0.001px;
    /* background: linear-gradient(103deg, rgba(177, 125, 99, 0) 0%, rgba(126, 89, 71, 0.35) 12%, rgba(49, 26, 14, 1) 37%); */
    display: flex;
    align-items: center;
    flex-direction: row-reverse;

}

.Footer__encima-cuadroInterior {
    background-image: url(../../assets/interiorFooter.svg);
    width: 65.2vw;
    height: 96%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    padding-right: 1.6vw;
    margin-right: 1.29vw;

    .Footer__encima-CuadroInterior-derechos {
        width: 100%;
        font-family: Roboto Mono;
        color: #A8A6A6;
        -webkit-text-stroke: 0.06vw black;
        display: flex;
        flex-direction: row-reverse;
        padding-right: 0.7vw;
        font-size: 0.85vw;

        h2 {
            line-height: 2.4;
        }

        .Copi {
            font-size: 2.5vw;
            line-height: 0.89;
            -webkit-text-stroke: 0.03vw black;
        }
    }
}

.Footer__encima-cuadroInterior-info {
    height: 90%;
    width: 100%;
    display: grid;
    padding-top: 1.8vw;
    grid-template-columns: repeat(4, 1fr);



    .Titul {
        font-size: 1.5vw;
        font-family: DM Serif Display;
        color: #C4AE95;

        h2 {
            line-height: 0.8;
            font-weight: 400 !important;
        }
    }
}

.Footer__encima-cuadroInterior-info-contacto {
    margin-left: 20px;

    div {
        width: 100%;
    }

    .Telefono {
        margin-left: 10px;
        font-family: Crimson Text;
        font-size: 1.1vw;
        line-height: 2;
        font-weight: 100;
        height: 25px;

    }

    .Numero {
        font-family: Inter;
        display: flex;
        font-size: 0.9vw;

        span {
            scale: 0.8;
        }

        h3 {
            font-weight: 400;
        }
    }

    .Whatsape {
        width: 3.5vw;
        height: auto;
        color: #C4AE95;
    }

    .ContenedorInput {
        margin-top: 10px;
        width: 100%;
        height: 2.29;
        display: flex;
        margin-right: 4px;

        input {

            height: 2.3vw;
            width: 15.5vw;
            padding-left: 0.5208vw;
            padding-top: 0.2083vw;
            background-color: #311A0E;
            color: #C4AE95;
            border-top: 2px solid #C4AE95;
            border-left: 2px solid #C4AE95;
            border-bottom: 2px solid #C4AE95;
            border-right: none;
            border-radius: 10px 0px 0px 10px;

        }

        input::placeholder {
            color: #C4AE95;

            display: flex;
            line-height: 10;
            font-size: 1.11vw;
        }

        div {
            height: 2.3vw;
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 0.2vw;
            border-top: 2px solid #C4AE95;
            border-left: none;
            border-bottom: 2px solid #C4AE95;
            border-right: 2px solid #C4AE95;
            border-radius: 0px 10px 10px 0px;
            cursor: pointer;
            user-select: none;
        }
    }

    .ContenedorLogos {
        width: 100%;
        height: 3.95vw;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        img {
            width: 2.5vw;
            height: auto;
        }
    }
}

.Footer__encima-cuadroInterior-info-Ayuda {
    padding-left: 10px;

    .Logo {
        width: 3vw;
        height: auto;

    }

    .Titul {
        border-right: 1px solid #C4AE95;
        max-height: 12vw;
        font-weight: 400 !important;
    }

    ul {

        list-style: none;
        padding: 0;


    }

    li {
        /* height: 30px; */
        height: 1.95vw;
    }

    a {
        color: #C4AE95;
        text-decoration: underline;
        font-size: 1vw;
        line-height: 1;
    }

    a:hover {
        opacity: 0.8;

    }
}

.Footer__encima-cuadroInterior-info-navegacion {

    padding-left: 0.6250vw;

    .Navegacion-logo {
        display: flex;
        align-items: end;
        height: 2.8125vw;
        padding-bottom: 5px;
    }

    .Logo {
        width: 3vw;
        height: auto;
    }

    .Titul {
        border-right: 1px solid #C4AE95;

        max-height: 15vw;
    }

    ul {

        list-style: none;
        padding: 0;


    }

    li {
        height: 1.95vw;
    }

    a {
        color: #C4AE95;
        text-decoration: underline;
        font-size: 1vw;
        line-height: 1;
    }

    a:hover {
        opacity: 0.8;

    }
}

.Footer__encima-cuadroInterior-info-empresa {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    .Logo {
        width: 4vw;
        height: auto;
    }

    .Titul {
        margin-top: 10px;
        font-family: Rock Salt;
        text-align: center;
        font-size: 0.9813vw;
        font-weight: 100;
    }

    .Separacion {
        margin-top: 5px;
        width: auto;
        height: 0.8vw;
    }

    .Texto {
        font-weight: 100;
        font-family: Crimson Text;
        color: #C4AE95;
        -webkit-text-stroke: 0.0156vw #1F1B15;
        font-size: 0.9vw;

        text-align: center;

        width: 70%;
    }

    .Agradecimiento {
        margin-top: 1vw;
        font-family: Seaweed Script;
        font-size: 1.1vw;
        color: #C4AE95;
        font-weight: 200;
        width: 80%;
        text-align: center;
    }

    .Contenedor {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        height: auto;
        border-right: 1px solid #C4AE95;
    }
}

.FooterResonsive {
    display: flex;
    justify-content: center;
    height: 70.0909vw;
    background-color: #311A0E;
}

.FooterResonsive__contenedor {
    background-image: url(../../assets/FooterResponsiveFondo.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0 10.6vw;
    height: 100%;
    width: 100%;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
}

.FooterResonsive__contenedor-interior {
    background-image: url(../../assets/FooterResponsiveInterior.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 65.5308vw;
    width: 65.5308vw;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1vw;
    padding-top: 5vw;
    padding-bottom: 5vw;

}

.FooterResonsive__contenedor-interior-Ayuda {
    max-height: 27.7vw;
    .special{
        height: 4vw;
    }
    .ContenedorAyuda {
        padding-top: 1vw;
        width: 100%;
        height: 6vw;
        display: flex;
        justify-content: center;
    }

    .ContenedorTitul {
        width: 100%;
        display: flex;
        justify-content: center;
        color: #C4AE95;
        font-family: DM Serif Display;

        h3 {
            font-size: 3vw;
        }
    }

    .ContenedorUl {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;

        ul {
            list-style: none;

        }

        li {
            height: 2.6vw;
            display: flex;
            justify-content: center;
            align-items: start;
            text-align: center;
        }

        a {
            color: #C4AE95;
            font-size: 1.9vw;
            text-decoration: underline;
        }
    }
}

.FooterResonsive__contenedor-interior-Contacto {
    max-height: 27.7vw;
    .ContenedorContacto {
        padding-top: 1vw;
        width: 100%;
        height: 9vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        font-size: 3.4vw;
        color: #C4AE95;

        h3 {
            height: 1.9vw;
            line-height: 1;
        }
    }

    .ContenedorTelefono {
        padding-top: 2.4vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        color: #C4AE95;
        h3{
            font-weight: 100;
            font-size: 2vw;
            text-align: center;
            height: 2.3vw;
        }
        div{
            display: flex;

            span{
                font-size: 1.8vw;
                display: flex;
                align-items: end;
            }
            h3{
                font-family: Inter;
                font-weight: 400;
                font-size: 2vw;
            }
        }
    }
    .ContenedorInput {
        margin-top: 10px;
        width: 100%;
        height: 5vw;
        display: flex;
        margin-right: 4px;
        
        input {

            height: 4.3vw;
            width: 26vw;
            padding-left: 0.5208vw;
            padding-top: 0.2083vw;
            background-color: #311A0E;
            color: #C4AE95;
            border-top: 0.4vw solid #C4AE95;
            border-left: 0.4vw solid #C4AE95;
            border-bottom: 0.4vw solid #C4AE95;
            border-right: none;
            border-radius: 1vw 0px 0px 1vw;

        }

        input::placeholder {
            color: #c4ae95b0;
            display: flex;
            font-size: 2vw;
        }

        div {
            color: #C4AE95;
            height: 4.3vw;
            width: 4vw;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 0.2vw;
            border-top: 0.4vw solid #C4AE95;
            border-left: none;
            border-bottom: 0.4vw solid #C4AE95;
            border-right: 0.4vw solid #C4AE95;
            border-radius: 0px 1vw 1vw 0px;
            cursor: pointer;
            user-select: none;
            
            span{
                font-size: 3vw;
            }
        }
    }
    .ContenedorLogos{
        display: flex;
        flex-direction: row-reverse;
        justify-content:center;
        gap: 2vw;

        img{

            width: 4vw;
            height: auto;
        }
    }
}
.FooterResponsive__encima-cuadroInterior-info-empresa {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    .Logo {
        width: 6.5vw;
        height: auto;
    }

    .Titul {
        font-family: Rock Salt;
        text-align: center;
        font-size: 1.7813vw;
        font-weight: 100;
        color: #C4AE95;
    }

    .Separacion {
        margin-top: 5px;
        width: auto;
        height: 1.7vw;
    }

    .Texto {
        font-weight: 100;
        font-family: Crimson Text;
        color: #C4AE95;
        -webkit-text-stroke: 0.0156vw #1F1B15;
        font-size: 1.5vw;

        text-align: center;

        width: 60%;
    }

    .Agradecimiento {
        margin-top: 1vw;
        font-family: Seaweed Script;
        font-size: 2.1vw;
        color: #C4AE95;
        font-weight: 200;
        line-height: 1.1;
        width: 70%;
        text-align: center;
    }

    .Contenedor {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        height: auto;
    }
}
.FooterResponsive__encima-CuadroInterior-derechos {
        width: 100%;
        display: flex;
        align-items: end;
        font-family: Roboto Mono;
        color: #A8A6A6;
        -webkit-text-stroke: 0.06vw black;
        display: flex;
        flex-direction: row-reverse;
        padding-right: 0.7vw;
        font-size: 1.3vw;
        gap: 1vw;
        h2 {
            line-height: 2.4;
        }

        .Copi {
            font-size: 2.7vw;
            line-height: 2;
            -webkit-text-stroke: 0.03vw black;
        }
    }