.categoria{
    display: flex;
    align-items: center;
    justify-content: center;
}
.categoria_div{
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
    width: 180px;
    height: 180px;
    font-family: "DM Serif Display", serif;
    font-size: 18px;
}
.categoria_div.cafe{
    color: rgba(175, 120, 64, 1);
    background-image: url("/src/assets/MarcoCatCafe.svg");
}
.categoria_div.cafe.active{
    background-image: url("/src/assets/MarcoCatCafe-active.svg");
}

.categoria_div.todos{
    color: rgba(196, 174, 149, 1);
    background-image: url("/src/assets/MarcoCatTodos.svg");
}
.categoria_div.todos.active{
    background-image: url("/src/assets/MarcoCatTodos-active.svg");
}

.categoria_div.libros{
    color: rgba(98, 27, 20, 1);
    background-image: url("/src/assets/MarcoCatLibros.svg");
}
.categoria_div.libros.active{
    background-image: url("/src/assets/MarcoCatLibros-active.svg");
}