@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer:ital@0;1&display=swap');

:root {
    /* Colores principales */

    --letras: #C4AE95;
    --detalles: #b79d7a;
    --bordes: #8a7453;
    --fondos: #121818;
}

.ic--baseline-whatsapp {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M19.05 4.91A9.82 9.82 0 0 0 12.04 2c-5.46 0-9.91 4.45-9.91 9.91c0 1.75.46 3.45 1.32 4.95L2.05 22l5.25-1.38c1.45.79 3.08 1.21 4.74 1.21c5.46 0 9.91-4.45 9.91-9.91c0-2.65-1.03-5.14-2.9-7.01m-7.01 15.24c-1.48 0-2.93-.4-4.2-1.15l-.3-.18l-3.12.82l.83-3.04l-.2-.31a8.26 8.26 0 0 1-1.26-4.38c0-4.54 3.7-8.24 8.24-8.24c2.2 0 4.27.86 5.82 2.42a8.18 8.18 0 0 1 2.41 5.83c.02 4.54-3.68 8.23-8.22 8.23m4.52-6.16c-.25-.12-1.47-.72-1.69-.81c-.23-.08-.39-.12-.56.12c-.17.25-.64.81-.78.97c-.14.17-.29.19-.54.06c-.25-.12-1.05-.39-1.99-1.23c-.74-.66-1.23-1.47-1.38-1.72c-.14-.25-.02-.38.11-.51c.11-.11.25-.29.37-.43s.17-.25.25-.41c.08-.17.04-.31-.02-.43s-.56-1.34-.76-1.84c-.2-.48-.41-.42-.56-.43h-.48c-.17 0-.43.06-.66.31c-.22.25-.86.85-.86 2.07s.89 2.4 1.01 2.56c.12.17 1.75 2.67 4.23 3.74c.59.26 1.05.41 1.41.52c.59.19 1.13.16 1.56.1c.48-.07 1.47-.6 1.67-1.18c.21-.58.21-1.07.14-1.18s-.22-.16-.47-.28'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.Header {
    display: flex;
    justify-content: center;
    padding-top: 1.71vw;
    z-index: 9999;
}

.Header__div {
    /*height: 90px; */
    z-index: 5;
    width: 87.4vw;
    max-width: 1500px;
    background-image: url(../../assets/headerFondo.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left start;
    display: flex;
    padding-top: 0.3vw;
    padding-bottom: 1.8vw;
    /* padding-bottom: 2.7%; */
    padding-left: 7vw;
    padding-right: 7vw;
}

.Header__div-div {
    width: 100%;
    height: 3.7vw;
    display: flex;
    justify-content: space-between;
}

.Header__div-div-logo {
    height: 100%;
    display: flex;
    padding-left: 2.2vw;
    align-items: center;
    gap: 1vw;
    user-select: none;
    cursor: pointer;
    transition: 1s;

    img {
        width: 3.15vw;
        height: auto;
        transition: 1s;
    }

    h1 {
        transition: 1s;
        font-family: IM FELL Great Primer;
        color: #C4AE95;
        font-weight: 10;
        font-size: 1.6vw;
        display: flex;
        align-items: flex-end;
    }

}

.Header__div-div-logo:hover {
    transition: 1s;

    img {
        transition: 1s;
        width: 3.3vw;
        height: auto;
    }

    h1 {
        transition: 1s;
        color: #c4ae95c9;
        font-size: 1.7vw;
    }
}

.Header__div-div-nav {
    height: 100%;
    width: auto;
    display: flex;
}

.Header__div-div-nav-nav {
    position: relative;
    display: flex;
    align-items: center;
    height: auto;
    gap: 1vw;



    .hache {
        border-right: 1.5px solid #C4AE95;
        padding-right: 1.5vw;
        height: 60%;
        display: flex;
        align-items: center;
    }

    .Link {
        font-family: IM FELL Great Primer;
        font-weight: 100;
        font-size: 1.6vw;
        color: #C4AE95;
        position: relative;
        z-index: 10;

    }

    .Link:hover {
        color: #AD8253;
        transition: 0.8s;
    }



    .BanderaContainer {
        position: absolute;
        top: -2.2vw;
        left: -1.7vw;
        display: flex;
        align-items: start;
        justify-content: center;
        width: 9vw;
        height: 8vw;
        /* height: 2vw; */
        overflow: hidden;
        transition: .6s ease;
    }

    .Bandera {
        width: 9vw;
        height: 9vw;

    }

    .hache:nth-child(1):hover~.BanderaContainer {
        transform: translateX(0);

    }

    .hache:nth-child(2):hover~.BanderaContainer {
        transform: translateX(8.4vw);
    }

    .hache:nth-child(3):hover~.BanderaContainer {
        transform: translateX(16vw);
    }
}





.Header__div-div-nav-iconos {
    padding-right: 2.3vw;
    margin-left: 1.3vw;
    display: flex;
    height: 100%;
    align-items: center;
    gap: 0.8vw;

    .Icono {
        width: 2.7vw;
        height: 2.7vw;
        border: 2px dashed #C4AE95;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #C4AE95;

        span {
            font-size: 1.8vw;
        }

        .Input {
            display: none;
        }

    }

    .Icono:hover {
        transition: 0.4s;
        color: #AD8253;
        border-color: #AD8253;
        scale: 1.02;
    }

    .activo:hover {
        transition: 0.7s;
        width: 20vw !important;
        flex-direction: row-reverse;
        justify-content: space-between !important;
        padding-inline: 0.5vw;

        .Input {
            margin-left: 0.5vw;
            height: 100%;
            width: 90%;
            display: block !important;
            background-color: var(--fondos);
            border: none;
            color: white;
            outline: none;
            font-size: 1.1vw;

        }
    }
}

.Activo {
    width: 20vw !important;
    flex-direction: row-reverse;
    justify-content: space-between !important;
    padding-inline: 0.5vw;

    .Input {
        margin-left: 0.5vw;
        height: 100%;
        width: 90%;
        display: block !important;
        background-color: var(--fondos);
        border: none;
        color: white;
        outline: none;
        font-size: 1.1vw;

    }

}

@media (max-width: 768px) {
    .Header {
        display: flex;
        justify-content: center;
        padding-top: 1.8vw;
    }

    .Header__div {
        /*height: 90px; */
        width: 100vw;
        box-sizing: border-box;
        background-image: url(../../assets/FondoHeaderResponsivesvg.svg);
        background-repeat: no-repeat;
        background-position: left start;
        padding-top: 0.3vw;
        padding-bottom: 2vw;
        /* padding-bottom: 2.7%; */
        padding-left: 7.7vw;
        padding-right: 7.7vw;
    }

    .Header__div-div {
        height: 8.4vw;
        margin-bottom: 0.8vw;
        display: flex;
        justify-content: start;
    }

    .Header__div-div-logo {
        padding-left: 3.6vw;
        margin-right: 4vw;

        img {
            width: 7.5vw;
            height: auto;
            transition: 1s;
        }

        h1 {
            display: none;
        }
    }

    .Header__div-div-logo:hover {
        transition: 1s;

        img {
            transition: 1s;
            width: 7.9vw;
            height: auto;
        }
    }

    .Header__div-div-nav-nav {
        gap: 3vw;

        .hache {
            height: 40%;
            padding-right: 4vw;
        }

        .Link {
            font-size: 2.75vw;
        }

        .BanderaContainer {
            top: -4.6vw;
            left: -5vw;
            width: 20vw;
            height: 20vw;
        }

        .Bandera {
            width: 19vw;
            height: 19vw;

        }

        .hache:nth-child(1):hover~.BanderaContainer {
            transform: translateX(0);

        }

        .hache:nth-child(2):hover~.BanderaContainer {
            transform: translateX(17.6vw);
        }

        .hache:nth-child(3):hover~.BanderaContainer {
            transform: translateX(33vw);
        }
    }

    .Header__div-div-nav-iconos {
        gap: 1.8vw;

        .Icono {
            width: 5.3vw;
            height: 5.3vw;
            border: 1.5px dashed #C4AE95;

            span {
                font-size: 3.8vw;
            }

            .Input {
                display: none;
            }
        }
    }
}