:root {
  --botones1: #621B14;
  --botones2: #311A0E;
  --bordes1: #AD8253;
  --bordes2: #1F1B15;
  --bordes3: #120E0C;
  --letras: #C4AE95;
  --fondoTargetas: #121818;
  --fondo1: #0A0E0D;
  --fondo2: #1B1A18;
  --bordes: #7E77A1;
}

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  margin: 0;
}