:root {
  --fondoHeader: #211B08;
  --selecFondo: #212108;
  --letras: #A0A177;
  --fondo: #0C0821;
  --bordes: #7E77A1
}

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  margin: 0;
}